form{
  background-image: url("C:\Users\Gopikagokul\Downloads\tracenet.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  font-weight: 900;


}


.body{


  display: flex;
  flex-direction: column;
  margin-left: 500px;
  background-color: rgb(131, 212, 255) ;
  border: aliceblue ;
  border-style: solid;
  height: 300px;
  width: 500px;
  align-items: center;
  justify-content: center;






}
.heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: 45px;
  margin-bottom: 80px;
 
}
.email{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}




.buttonLog{
  display: flex;
  margin-top: 30px;
  justify-content: center;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(160, 155, 184);
  background-color: rgb(21, 67, 136);
}



